<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<h1>Results of sample images</h1>
<div>
{
"imgurl": "https://storage.googleapis.com/bizupimg/profile_photo/kppl_logo.png",
"logo_border": "#030117",
"dominant_color": "#06053c"
}
<br>
{
"imgurl": "https://storage.googleapis.com/bizupimg/profile_photo/bhawya_logo.jpeg",
"logo_border": "#b5d16d",
"dominant_color": "#b4cb6a"
}
<br>
{
"imgurl":
"https://storage.googleapis.com/bizupimg/profile_photo/WhatsApp%20Image%202020-08-23%20at%203.11.46%20PM%20-%20Himanshu%20Kohli.jpeg",
"logo_border": "#97fa0d",
"dominant_color": "#080b08"
}
<br>

{
"imgurl": "https://storage.googleapis.com/bizupimg/profile_photo/kppl_logo.png",
"logo_border": "#030117",
"dominant_color": "#06053c"
}
<br>
</div>
<h3>
To perform any other color picker operation on any image visit http://localhost:8000/api
<br>
Send image url like this: 
{
"imgurl": "_imgurl__"
}
<br>
For Example-
<br>
{
"imgurl": "https://storage.googleapis.com/bizupimg/profile_photo/kppl_logo.png"
}
</h3>
</body>
</html>   
